.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bikeImg {
  background-image: url(./assets/img/sexyBike.jpg);
  width: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.map {
  width: 100%;
  height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bodyMapPopUp {
  display: flex;
  justify-content: space-between;
}

.greenColor {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.blueColor {
  height: 10px;
  width: 10px;
  background-color: #17a2b8;
  border-radius: 50%;
  display: inline-block;
}

.yellowColor {
  height: 10px;
  width: 10px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}

.redColor {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.colorText {
  display: inline-block;
  padding-right: 7px;
}
